* {
  all: unset;
  padding: 0;
  margin: 0;
}

* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

window#waybar {
  background: #26233a;
}

.module {
  margin: 6px;
  background: #191724;
  border-radius: 10px;
  padding: 4px 8px;
}

#workspaces button {
  border-radius: 9999px;
  min-width: 24px;
  background: #9ccfd8;
  margin: 4px 4px;
  transition: all 0.2s ease-in-out;
  font-size: 10px;
}

#workspaces button.focused {
  background: #31748f;
  min-width: 48px;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

#battery.critical {
  background: #eb6f92;
  animation: critical-blink 1s ease-in-out infinite;
}

@keyframes critical-blink {
  0% { 
    background: #191724;
  }
  50% { 
    background: #eb6f92;
  }
  100% { 
    background: #191724;
  }
}
